<div class='heading'>
    <h2>
        <a href='#!/{{name}}' onclick="Docs.toggleEndpointListForResource('{{name}}');">{{resourcePath}}</a>
    </h2>
    <div class='dando'>
      <div class='description'>{{description}}</div>
      <ul class='options'>
        <li>
            <a href='#' onclick="Docs.collapseOperationsForResource('{{name}}'); return false;">
                List
            </a>
        </li>
        <li>
            <a href='#' onclick="Docs.expandOperationsForResource('{{name}}'); return false;">
                Expand
            </a>
        </li>
    </ul>    
    </div>    
  </div>
</div>
<ul class='endpoints' id='{{name}}_endpoint_list' style='display:none'>

</ul>
